<a href="https://colab.research.google.com/github/Kishan-25065638/data_science_wk1/blob/main/T04_25065638.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#q1.
import pandas as pd
data1=pd.read_csv("1979-2021.csv")
data2=pd.read_csv("1990-2021.csv")

In [11]:
print('DATA1 preview:','\n')
data1.head()

DATA1 preview:

,Date,United States(USD),Europe(EUR),Japan(JPY),United Kingdom(GBP),Canada(CAD),Switzerland(CHF),India(INR),China(CNY),Turkey(TRY),Saudi Arabia(SAR),Indonesia(IDR),United Arab Emirates(AED),Thailand(THB),Vietnam(VND),Egypt(EGP),South Korean(KRW),Australia(AUD),South Africa(ZAR)
0,31-01-1979,233.7,144.8,45160.3,117.4,267.1,379.3,1840.8,NaN,NaN,745.2,139739.3,856.1,4511.3,NaN,NaN,108235.8,197.2,194.5
1,28-02-1979,251.3,154.6,50209.1,124.2,295.5,413.6,2011.7,NaN,NaN,827.8,154683.1,946.6,4985.7,NaN,NaN,119929.3,219.6,209.4
2,30-03-1979,240.1,148.0,50274.3,116.2,278.2,406.2,1940.2,NaN,NaN,796.7,148844.2,910.4,4812.9,NaN,NaN,116123.6,214.6,202.4
3,30-04-1979,245.3,152.8,54144.6,118.8,278.5,420.0,2013.1,NaN,NaN,819.4,152453.6,930.2,4891.0,NaN,NaN,117423.3,221.1,206.9
4,31-05-1979,274.6,172.0,61057.1,132.7,321.6,478.0,2253.4,NaN,NaN,933.3,171656.1,1048.4,5560.8,NaN,NaN,133889.6,250.7,233.7

In [12]:
print('DATA2 preview:','\n')
data2.head()

DATA2 preview:

,Date,United States(USD),Europe(EUR),Japan(JPY),United Kingdom(GBP),Canada(CAD),Switzerland(CHF),India(INR),China(CNY),Turkey(TRY),Saudi Arabia(SAR),Indonesia(IDR),United Arab Emirates(AED),Thailand(THB),Vietnam(VND),Egypt(EGP),South Korean(KRW),Australia(AUD),South Africa(ZAR)
0,31-01-1990,415.1,321.3,59972.3,247.1,492.0,623.8,7041.0,1930.2,1.0,1557.4,745400.5,1524.9,10623.3,1867170.0,1059.9,283240.8,540.0,1063.2
1,28-02-1990,407.7,316.2,60672.5,241.2,485.7,607.9,6957.4,1936.8,1.0,1527.7,747408.3,1496.0,10494.1,1853648.1,1085.6,282356.4,534.1,1040.4
2,30-03-1990,368.5,283.9,57987.1,223.7,431.0,550.8,6334.4,1717.1,0.9,1376.8,652783.7,1348.1,9506.1,1622520.2,947.3,257424.6,488.4,976.9
3,30-04-1990,367.8,280.7,58375.7,224.3,428.3,533.9,6379.3,1739.6,0.9,1370.0,669724.5,1341.5,9510.6,1651644.8,982.5,258294.2,488.9,975.8
4,31-05-1990,363.1,280.2,55420.9,216.5,426.2,520.1,6295.5,1717.4,0.9,1371.7,671905.9,1343.2,9352.3,1646877.6,988.3,261068.1,472.2,967.3

In [15]:
print('DATA1 summary:','\n')
data1.info()

DATA1 summary:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       511 non-null    object
 1   United States(USD)         511 non-null    float64
 2   Europe(EUR)                511 non-null    float64
 3   Japan(JPY)                 511 non-null    float64
 4   United Kingdom(GBP)        511 non-null    float64
 5   Canada(CAD)                511 non-null    float64
 6   Switzerland(CHF)           511 non-null    float64
 7   India(INR)                 511 non-null    float64
 8   China(CNY)                 439 non-null    float64
 9   Turkey(TRY)                464 non-null    float64
 10  Saudi Arabia(SAR)          511 non-null    float64
 11  Indonesia(IDR)             511 non-null    float64
 12  United Arab Emirates(AED)  511 non-null    float64
 13  Thailand(THB)              511 non-null    float64
 14  Vietnam(VND)               380 non-null    float64
 15  Egypt(EGP)                 392 non-null    float64
 16  South Korean(KRW)          511 non-null    float64
 17  Australia(AUD)             511 non-null    float64
 18  South Africa(ZAR)          511 non-null    float64
dtypes: float64(18), object(1)
memory usage: 76.0+ KB

In [16]:
print('DATA2 summary:','\n')
data2.info()

DATA2 summary:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       379 non-null    object
 1   United States(USD)         379 non-null    float64
 2   Europe(EUR)                379 non-null    float64
 3   Japan(JPY)                 379 non-null    float64
 4   United Kingdom(GBP)        379 non-null    float64
 5   Canada(CAD)                379 non-null    float64
 6   Switzerland(CHF)           379 non-null    float64
 7   India(INR)                 379 non-null    float64
 8   China(CNY)                 379 non-null    float64
 9   Turkey(TRY)                379 non-null    float64
 10  Saudi Arabia(SAR)          379 non-null    float64
 11  Indonesia(IDR)             379 non-null    float64
 12  United Arab Emirates(AED)  379 non-null    float64
 13  Thailand(THB)              379 non-null    float64
 14  Vietnam(VND)               379 non-null    float64
 15  Egypt(EGP)                 379 non-null    float64
 16  South Korean(KRW)          379 non-null    float64
 17  Australia(AUD)             379 non-null    float64
 18  South Africa(ZAR)          379 non-null    float64
dtypes: float64(18), object(1)
memory usage: 56.4+ KB

In [17]:
print('DATA1 stats:','\n')
data1.describe()

DATA1 stats:

,United States(USD),Europe(EUR),Japan(JPY),United Kingdom(GBP),Canada(CAD),Switzerland(CHF),India(INR),China(CNY),Turkey(TRY),Saudi Arabia(SAR),Indonesia(IDR),United Arab Emirates(AED),Thailand(THB),Vietnam(VND),Egypt(EGP),South Korean(KRW),Australia(AUD),South Africa(ZAR)
count,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,439.000000,464.000000,511.000000,5.110000e+02,511.000000,511.000000,3.800000e+02,392.000000,5.110000e+02,511.000000,511.000000
mean,693.703914,572.909393,82947.785519,450.144618,843.504110,826.123288,33124.286301,4883.284510,1739.875862,2580.532290,6.207427e+06,2549.201370,21659.532681,1.512633e+07,6759.577551,7.176915e+05,869.875342,5950.795108
std,473.936956,381.421398,44427.426076,346.745470,546.995978,365.533745,36068.222143,3298.648486,3058.649089,1789.369815,7.326262e+06,1740.398752,15607.655346,1.276571e+07,8061.721765,5.795862e+05,573.937496,7352.362603
min,233.700000,144.800000,27937.500000,116.200000,267.100000,379.300000,1840.800000,821.100000,0.100000,745.200000,1.397393e+05,856.100000,4511.300000,1.571728e+06,870.100000,1.082358e+05,197.200000,194.500000
25%,354.200000,306.950000,43095.750000,218.400000,454.300000,501.650000,6273.750000,2171.350000,2.475000,1311.350000,6.979736e+05,1297.550000,9612.400000,4.090357e+06,1176.125000,3.012518e+05,474.550000,972.500000
50%,415.100000,364.100000,70455.900000,256.400000,532.300000,698.200000,13027.200000,3287.800000,446.050000,1502.600000,2.536803e+06,1528.900000,12140.500000,7.502084e+06,2578.900000,3.749796e+05,554.100000,1864.700000
75%,1166.650000,929.250000,124847.450000,742.150000,1326.950000,1126.950000,61884.750000,7991.050000,2595.025000,4375.950000,1.202164e+07,4285.000000,38774.350000,2.754781e+07,9149.475000,1.304939e+06,1372.600000,9549.350000
max,1964.900000,1661.700000,207845.000000,1497.100000,2632.000000,1787.500000,146999.100000,13714.000000,16105.400000,7369.200000,2.868754e+07,7217.400000,61270.500000,4.553950e+07,31379.500000,2.340982e+06,2739.900000,33459.800000

In [18]:
print('DATA2 stats:','\n')
data2.describe()

DATA2 stats:

,United States(USD),Europe(EUR),Japan(JPY),United Kingdom(GBP),Canada(CAD),Switzerland(CHF),India(INR),China(CNY),Turkey(TRY),Saudi Arabia(SAR),Indonesia(IDR),United Arab Emirates(AED),Thailand(THB),Vietnam(VND),Egypt(EGP),South Korean(KRW),Australia(AUD),South Africa(ZAR)
count,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,3.790000e+02,379.000000,379.000000,3.790000e+02,379.000000,3.790000e+02,379.000000,379.000000
mean,793.546702,648.602902,83466.892084,523.384960,960.238259,851.871504,43089.168865,5436.584960,2130.007388,2976.129551,8.216117e+06,2914.618470,25869.122955,1.516149e+07,6958.586280,8.642338e+05,1009.911609,7802.027177
std,511.651495,415.313653,49272.602236,375.305762,589.456131,411.036959,37004.651817,3216.943187,3259.754865,1919.139222,7.532845e+06,1879.288853,16087.036285,1.276415e+07,8125.828099,6.070399e+05,603.651354,7720.715836
min,254.800000,224.500000,27937.500000,157.800000,380.200000,381.600000,6140.500000,1652.200000,0.900000,955.600000,6.436786e+05,935.900000,8356.900000,1.571728e+06,870.100000,2.511635e+05,391.400000,930.000000
25%,355.200000,298.550000,40504.050000,212.050000,470.750000,486.750000,12331.400000,2468.600000,59.100000,1331.700000,1.358623e+06,1303.200000,10469.600000,4.092638e+06,1207.500000,3.131320e+05,501.750000,1623.450000
50%,473.300000,393.000000,59972.300000,270.500000,562.900000,623.800000,21233.200000,3829.500000,649.500000,1775.700000,4.869742e+06,1737.800000,19434.000000,7.521126e+06,2822.400000,4.959619e+05,630.100000,3392.600000
75%,1257.950000,1049.350000,133431.100000,867.300000,1487.900000,1221.750000,78176.800000,8264.650000,2904.050000,4723.800000,1.521628e+07,4620.100000,41258.700000,2.755735e+07,9197.300000,1.405767e+06,1510.000000,13758.850000
max,1964.900000,1661.700000,207845.000000,1497.100000,2632.000000,1787.500000,146999.100000,13714.000000,16105.400000,7369.200000,2.868754e+07,7217.400000,61270.500000,4.553950e+07,31379.500000,2.340982e+06,2739.900000,33459.800000

In [32]:
#q2.
#yes it is good data.
#it contains prices in respective currencies for each country monthly from January 1979 to July 2021 while some countries have null prices for initial years.
#not enough samples to use it to work on a real project.

In [31]:
#q3
#both of them have 19 features(columns), and again its not enough to work on projects, but enough to visualise and start exploring, how they actually work.
print(data1.shape[1])
print(data2.shape[1])

19
19

In [30]:
#q4
#data1 contains 511 samples(rows) and data2 contains 379 samples(rows), which is good enough to start visualising data, but not enough to use it to work for projects and assignments.

print(len(data1))
print(len(data2))

511
379

In [37]:
#q5.
print(data1.dtypes)

Date                          object
United States(USD)           float64
Europe(EUR)                  float64
Japan(JPY)                   float64
United Kingdom(GBP)          float64
Canada(CAD)                  float64
Switzerland(CHF)             float64
India(INR)                   float64
China(CNY)                   float64
Turkey(TRY)                  float64
Saudi Arabia(SAR)            float64
Indonesia(IDR)               float64
United Arab Emirates(AED)    float64
Thailand(THB)                float64
Vietnam(VND)                 float64
Egypt(EGP)                   float64
South Korean(KRW)            float64
Australia(AUD)               float64
South Africa(ZAR)            float64
dtype: object

In [38]:
print(data2.dtypes)

Date                          object
United States(USD)           float64
Europe(EUR)                  float64
Japan(JPY)                   float64
United Kingdom(GBP)          float64
Canada(CAD)                  float64
Switzerland(CHF)             float64
India(INR)                   float64
China(CNY)                   float64
Turkey(TRY)                  float64
Saudi Arabia(SAR)            float64
Indonesia(IDR)               float64
United Arab Emirates(AED)    float64
Thailand(THB)                float64
Vietnam(VND)                 float64
Egypt(EGP)                   float64
South Korean(KRW)            float64
Australia(AUD)               float64
South Africa(ZAR)            float64
dtype: object

In [ ]:
#q6.